<div class="container">
  <div class="row offset2">
    <div id="clothingindex">
      <% if @clothings.blank? %>
        <p>There are not any pieces of clothing currently in the closet.</p>
      <% else %>
        <p>These are the current pieces of clothing in your closet.</p>
        <ul>
          <% @clothings.each do |c| %>
            <li><%= link_to c.name, { :action => 'show', :id => c.id } -%></li>
            <li><%= link_to  c.name = "Edit", { :action => 'edit', :id => c.id } -%></li>  
          <% end %>
        </ul>
        <% end %>
        <p><%= link_to("Add More Clothing", new_clothing_path) %></p>
    </div>
  </div>
</div>