<div>  
  <ul>
    <% @clothings.each do |clothing| %>
      <li>
        <%= link_to clothing.name, clothing %>
        
      </li>
    <% end %>
  </ul>
</div>

<%= link_to("Add Clothing", new_clothing_path) %>